body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 10vh;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: #fcbaba;
  color: white;
}
#add-btn {
  background-color: transparent;
  border: solid 1px white;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#deco-btn {
  background-color: transparent;
  border: solid 1px white;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#add-btn:hover,
#deco-btn:hover {
  background-color: white;
  color: #ff9f9f;
  border: solid 1px #ff9f9f;
  transform: translateY(2px);
}

#tasker {
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
}
#all-list {
  display: flex;
  justify-content: space-around;
}
.list-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
.task-list {
  margin-top: 20px;
  background-color: #ffeeee;
  width: 30%;
  height: 70vh;
  box-shadow: 0px 4px 20px -2px gray;
  border: solid 1px rgb(100, 100, 100);
  border-radius: 5%;
  min-height: 80%;
}
.task {
  text-align: center;
  background-color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 3px -2px gray;
  transition: all 0.3s ease;
}
.task:hover {
  transform: translateY(-1px);
  box-shadow: 0px 6px 5px -2px gray;
}
footer {
  display: flex;
  height: 10vh;
  text-align: center;
  justify-content: space-around;
background-color: #fcbaba;  color: white;
  box-shadow: 0px 4px 20px -2px gray;
}
#footer {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
main {
  height: 80vh;
  background-color: rgb(255, 255, 255);
}
.task-name {
  overflow: auto;
  height: 80%;
}
#finish {
  color: rgb(71, 224, 71);
}
#in-progress {
  color: rgb(248, 150, 58);
}
#to-do {
  color: rgb(255, 61, 61);
}
.task-name::-webkit-scrollbar {
  display: none;
}
